.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

.company-logo {
  margin: 0rem 0 2.5rem 0.5rem;
}

.company-logo img {
  width: 3rem;
  float: left;
  margin: 0 0 1rem 1.7rem;
}

.company-logo h1 {
  position: relative;
  top: 0.7rem;
  font-size: 1.5rem;
  margin: 1rem;
}

.sidenav i {
  padding-right: 2rem;
  vertical-align: middle;
}




.sidenav a {
  padding: 0.7rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
}



.sidenav a:hover {
  background-color: #3f0e40;
  color: #f1f1f1;

}

#current-tab {
  background-color: #3f0e40;
  color: #f1f1f1;
}



.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}


/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0.5rem;}
  .sidenav a {font-size: 18px;}
}*/